<div class="container">
	<div class="dashboard">
		<p>Welcome! What would you like to do today?</p>
	</div>
	<section class="dash-buttons">
		<div>
			<button class="btn btn-danger" type="submit">Showcase Your Home</button>
		</div>
		<div>
			<a href="/view-homes">
				<button class="btn btn-danger" type="submit">See Parade of Homes</button>
			</a>
		</div>
	</section>
</div>