<div class="container">
	<div class="dashboard">
		<p>Welcome! What would you like to do today?</p>
	</div>
	<section class="dash-buttons">
		<div>
			<a href="/post-house">
			<button class="myhome" type="submit">Showcase Your Home</button>
			</a>
		</div>
		<div>
			<a href="/seehomes">
				<button class="seehome" type="submit">See Parade of Homes</button>
			</a>
		</div>
	</section>
</div>