<div class="container">
	<h1>Welcome! What would you like to do today?</h1>

	<div>
		<button class="btn btn-primary" type="submit">Showcase Your Home</button>
	</div>
	<div>
		<button class="btn btn-primary" type="submit">See Parade of Homes</button>
	</div>
</div>