<!--creates carousel-->
<div class="container container-fluid">
	<div class="home-para">
		<p>Getting into the Christmas spirit is easy with all the amazing light
			displays this time of year! You can spread holiday cheer by adding your
			house to our Showcase of Homes. Or, look up all the homes that are listed
			and plan a route for a fun evening with friends and family! Sign up and/or
			Login and get started enjoying the spirit of the season today!</p>

		<div>
			<span class="countdown" id="countdownDays"></span>Days to Christmas!
		</div>
	</div>
	<div class="carousel">
		<div class="carousel__face">&lt;</div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
		<div class="carousel__face"></div>
	</div>
	<script src="/javascript/countdown.js"></script>
</div>

<!--carousel ends-->