
    {{#if house.length}}
    <section>
        <h1>Parade of Holiday Homes!</h1>
    </section>
    <ol class="house-list">
	{{#each house as |house|}}
			<article class="post">
				<div class="title">
					<h3>{{house.address_1}}</h3>

				</div>
				<div class="meta">
					Posted by
					{{house.owner_name}}

				</div>
				<div>
					<p>{{house.image}}</p>
				</div>
			</article>
            	{{/each}}
</ol>
		<section>


